---
import Layout from '@/layouts/Layout.astro';
import { BadgeExtendedDemo} from '@/components/demo/badge-demo'
import { ButtonExtendedDemo } from '@/components/demo/button-demo'

---
<Layout title="Modern SaaS Platform">
  <main class="min-h-screen">
    <BadgeExtendedDemo/>
    <ButtonExtendedDemo/>
  </main>
</Layout>