---
import { ThemeToggle } from "./theme-toggle";
import { Picture } from "astro:assets";
---

<header
  class='sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60'>
  <div class='max-w-[1000px] mx-auto'>
    <div class='mx-4 md:mx-12 xl:mx-24 flex items-center justify-between py-2'>
      <!-- Logo -->
      <div class='mr-4 flex'>
        <a href='/' class='mr-6 flex items-center space-x-2'>
          <Picture
            formats={["avif", "webp"]}
            fallbackFormat='svg'
            width='32'
            height='32'
            src='/favicon.svg'
            alt='The Product Roast Logo'
          />
          <span class='font-bold font-serif'>The Product Roast</span>
        </a>
      </div>
      <!-- Menu -->
      <div class='flex items-center gap-2 justify-end'>
        <nav class='flex items-center space-x-6'>
          <a
            href='/#products'
            class='text-sm font-medium text-muted-foreground transition-colors hover:text-primary'>
            Products
          </a>
          <a
            href='/#policies'
            class='text-sm font-medium text-muted-foreground transition-colors hover:text-primary'>
            Policies
          </a>
        </nav>
        <ThemeToggle client:load />
      </div>
    </div>
  </div>
</header>
